
.profile-right-container {
  float: left;
  width: 65%;
  margin: 10px;
  height: inherit;
  background-color: #0b0c0d;
  text-align: center;
  box-shadow: 5px 10px #2e2d2d;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.profile{
background-color: red;
}
.profile-experience{
  float: left;
  margin: 10px;
  margin-left: 30px;

}
.experience{
  float: left;
  margin: 10px;
  margin-left: 30px;
  color: #98c474;
  font-family: Tangerine;
  font-size: 40px;
  font-weight: 600px;

}
